.container {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 20px;
}

.wrapper {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: space-between;
  padding-right: 1rem;
  flex: 0 0 40%;
  max-width: 40%;
}
.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 20%;
  max-width: 20%;
  justify-content: space-between;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item__title {
  margin-left: 1rem;
  line-height: 35px;
  color: var(--text-900);
}
.item__description {
  margin-left: 1rem;
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-700);
}
.item__images {
  flex: 0 0 40%;
  max-width: 40%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--bg-50);
  margin-bottom: 20px;
}

.item.done .item__description,
.item.done .item__title {
  text-decoration: line-through;
}

.item.important {
  background-color: #2baffc7a;
}
.item.important .item__title {
  transition: all 0.5s ease-in-out;
  color: #6610f2;
  text-shadow: 0 0 1px rgb(50 251 226 / 60%), 0 0 3px rgb(50 251 226 / 50%),
    0 0 0.5rem rgb(50 251 226 / 30%), 0 0 2rem rgb(50 251 226 / 20%);
}
.btnWrapper {
  display: flex;
  padding: 5px;
  gap: 5px;
}
.completeWrapper .item__title {
  flex: 0 0 60%;
  max-width: 60%;
}
.completeWrapper {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
}
.completeWrapper .success,
.completeWrapper .danger {
  flex: 0 0 50%;
  max-width: 50%;
}

.primary,
.danger,
.success {
  border-radius: 5px;
  background: var(--bg-100);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.primary {
  color: #007bff;
  box-shadow: 0 0 2px rgb(68 217 232 / 90%), 0 0 4px rgb(68 217 232 / 40%),
    0 0 1rem rgb(68 217 232 / 30%), 0 0 4rem rgb(68 217 232 / 10%);
  border: 1px solid #007bff;
  transition: all 0.5s ease;
}
.primary:hover {
  color: #2b5685;
  background-color: #007bff;
}

.success {
  color: #28a745;
  border: 1px solid #28a745;
  box-shadow: 0 0 2px rgb(60 242 129 / 90%), 0 0 4px rgb(60 242 129 / 40%),
    0 0 1rem rgb(60 242 129 / 30%), 0 0 4rem rgb(60 242 129 / 10%);
  font-size: 22px;
  transition: all 0.5s ease;
}
.success:hover {
  background-color: #28a745;
  color: #22582e;
}

.danger {
  color: red;
  border: 1px solid red;
  box-shadow: 0 0 2px rgb(228 76 85 / 90%), 0 0 4px rgb(228 76 85 / 40%),
    0 0 1rem rgb(228 76 85 / 30%), 0 0 4rem rgb(228 76 85 / 10%);
  transition: all 0.5s ease;
}
.danger:hover {
  color: #6e3434;
  background-color: red;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  width: 135px;
  height: 50px;
  border-radius: 5px;
  font-size: 0.6rem;

  box-shadow: 0 0 2.5px 0 var(--skin-color);
  color: var(--text-700);
  border: 1px solid var(--bg-50);
  transition: all 0.3s ease;
}

.timer span {
  font-size: 0.5rem;
  color: var(--skin-color);
}

.timer i {
  color: var(--skin-color);
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 5px 10px;
  }
  .wrapper {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 1rem;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-between;
  }

  .item__images {
    width: auto;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .item__title,
  .item__description {
    margin-left: 0;
    line-height: 25px;
  }
  .completeWrapper .item__title {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .completeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
    align-items: center;
    min-height: 80px;
    padding: 10px 20px;
  }
}
